
#wrapper{
  width:10000px;
  height:700px;
  border:1px solid green;
  position:relative;
  margin:0 auto;
  background: /*background START*/
  background: rgba(35,117,190,1);
  background: -moz-linear-gradient(left, rgba(35,117,190,1) 0%, rgba(27,75,156,1) 10%, rgba(15,9,102,1) 26%, rgba(44,17,85,1) 70%, rgba(67,30,121,1) 83%, rgba(70,32,126,1) 85%, rgba(44,17,85,1) 96%, rgba(44,17,85,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(35,117,190,1)), color-stop(10%, rgba(27,75,156,1)), color-stop(26%, rgba(15,9,102,1)), color-stop(70%, rgba(44,17,85,1)), color-stop(83%, rgba(67,30,121,1)), color-stop(85%, rgba(70,32,126,1)), color-stop(96%, rgba(44,17,85,1)), color-stop(100%, rgba(44,17,85,1)));
  background: -webkit-linear-gradient(left, rgba(35,117,190,1) 0%, rgba(27,75,156,1) 10%, rgba(15,9,102,1) 26%, rgba(44,17,85,1) 70%, rgba(67,30,121,1) 83%, rgba(70,32,126,1) 85%, rgba(44,17,85,1) 96%, rgba(44,17,85,1) 100%);
  background: -o-linear-gradient(left, rgba(35,117,190,1) 0%, rgba(27,75,156,1) 10%, rgba(15,9,102,1) 26%, rgba(44,17,85,1) 70%, rgba(67,30,121,1) 83%, rgba(70,32,126,1) 85%, rgba(44,17,85,1) 96%, rgba(44,17,85,1) 100%);
  background: -ms-linear-gradient(left, rgba(35,117,190,1) 0%, rgba(27,75,156,1) 10%, rgba(15,9,102,1) 26%, rgba(44,17,85,1) 70%, rgba(67,30,121,1) 83%, rgba(70,32,126,1) 85%, rgba(44,17,85,1) 96%, rgba(44,17,85,1) 100%);
  background: linear-gradient(to right, rgba(35,117,190,1) 0%, rgba(27,75,156,1) 10%, rgba(15,9,102,1) 26%, rgba(44,17,85,1) 70%, rgba(67,30,121,1) 83%, rgba(70,32,126,1) 85%, rgba(44,17,85,1) 96%, rgba(44,17,85,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2375be', endColorstr='#2c1155', GradientType=1 );

  /*background END*/

}


/*passing cars START*/
h1, img{
  height:50px;
  width:50px;
  border:1px solid red;
  position:absolute;
}

/*my car/bear*/
#one{
    background:blue;
    top:600px;
    left:50px;
    right:4500px;
  }


#two{
    background:yellow;
    top:550px;
    left:75px;
    right:3550px;
  }


#three{
    background:orange;
    top:600px;
    left:100px;
    right:2500px;}
/*passing cars END*/




/*passing trees in the background START*/
h2{
  width:500px;
  height:100px;
  border:1px solid pink;
  position:absolute;
}

#t1{
  background:green;
  top:500px;
  left:200px;
    }

#t2{
  background:green;
  top:500px;
  left:400px;
    }

#t3{
  background:green;
  top:500px;
  left:600px;
    }

#t4{
  background:green;
  top:500px;
  left:800px;
        }
/*passing trees in the background END*/


#person{
  border: 1px solid darkblue;
  top:400px;
  left:4500px;
}
