



body {
  padding: 30px;
  color:white;
  background-image: url("../images/back.jpg");
  background-color: #cccccc;


}

#title{
  color:red;
}





/*Animation 2 info start*/

.view {
    width: 300px;
    height: 200px;
    margin: 10px;

    border: 10px;
    overflow: hidden;
    position: relative;
    text-align: center;
    box-shadow: 1px 1px 2px #e6e6e6;
    cursor: default;
}
.view .mask, .view .content {
    width: 300px;
    height: 200px;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
}
.view img {
    display: block;
    position: relative;
}
.view h2 {
    text-transform: uppercase;
    color: #d33b3b;
    text-align: center;
    position: relative;
    font-size: 17px;
    padding: 10px;
    margin: 20px 0 0 0;
}
.view p {
    font-family: Georgia, serif;
    font-style: italic;
    font-size: 12px;
    position: relative;
    color: #c4c4c4;
    padding: 10px 20px 20px;
    text-align: center;
}

/*mask info start*/
.girl .mask-1,
.girl .mask-2{
	background-color: rgba(0,0,0,0.5);
    height: 361px;
    width: 361px;
	background: #af7979;
	opacity: 1;
    transition: all 0.3s ease-in-out 0.6s;
}
.girl .mask-1 {
    left: auto;
    right: 0px;
    transform: rotate(56.5deg) translateX(-180px);
    transform-origin: 100% 0%;
}
.girl .mask-2 {
    top: auto;
    bottom: 0px;
    transform: rotate(56.5deg) translateX(180px);
    transform-origin: 0% 100%;
}

.girl .content{
    background: black;
    height: 0px;
    opacity: 0.1;
    width: 361px;
    overflow: hidden;
    transform: rotate(-33.5deg) translate(-112px,166px);
    transform-origin: 0% 100%;
    transition: all 0.4s ease-in-out 0.3s;
}
.girl h2{
    background: transparent;
    margin-top: 5px;
    border-bottom: 1px solid gray;
}


.girl:hover .content{
    height: 120px;
    width: 300px;
    opacity: 0.9;
    top: 40px;
    transform: rotate(0deg) translate(0px,0px);
}
.girl:hover .mask-1,
.girl:hover .mask-2{
	transition-delay: 0s;
}
.girl:hover .mask-1{
    transform: rotate(56.5deg) translateX(1px);
}
.girl:hover .mask-2 {
    transform: rotate(56.5deg) translateX(-1px);
}
/*animation 2 hover over girl END---------*/
